
/* 定义默认规则 */
*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}

/* body背景颜色设置 */
body {
    background-color: rgb(200, 200, 200);
}

/* 定义背景样式 */
.box {
    width: 95%;
    height: 100%;
    color: #000000;
    background: #ffffff;
    padding: 10px;
    border: 10px;
    margin: 20px auto;
    border-radius: 5px;
}

/* 定义logo位置 */
.logo-box {
    width: 75vw;
    margin: auto;
}
.logo-box:after {
    content: " ";
    display: block;
    clear: both;
}
.logo-img {
    float: left;
    width: 15vw;

}
.logo-h1 {
    float: left;
    font-size: 10vw;
    color: #000000;
}

/* 定义分割线 */
hr {
    width: 95%;
    margin: 10px auto;
    color: rgb(200, 200, 200);
}

/* 定义副标题 */
h2 {
    font-size: 5vw;
    text-align: center;
    margin: 5px auto;
}

/* 定义文本内容 */
p {
    font-size: 2vw;
    margin: 10px auto;
}

/* 功能区布局 */
.button-box {
    width: 90vw;
    height:50px ;
    display: flex;
    margin-right: 0vw;

/* 按钮动画，样式 */
}
.button-box button {
    width: 20vw;
    height: 50px;
    border-radius: 15px;
    margin-left: 7.5vw ;
    color: #000000;
    background-color: #ffffff;
    font-size: 2vw;
}
.button-box button:hover {
    color: #ffffff;
    background-color: #000000;
    transition-duration:0.5s ;
    transform: scale(1.2);
}

.quote_button {  
    padding: 10px 20px;  
    background-color: #4c9baf; /* Green */  
    border: none;  
    color: white;   
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px;  
    margin: 4px 2px;  
    transition-duration: 0.4s;  
    cursor: pointer;  
  }  